<h1>{if $user_id}Administrator: {$data.fname} {$data.lname}{else}New record{/if}</h1>
<form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="username">Username <span class="required-star"></span></label>
		<div class="col-sm-10">
			<input type="text" required name="username" class="form-control" id="username" placeholder="Username" value="{$data.username}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="passwd">Password{if !$user_id} *{/if}</label>
		<div class="col-sm-10">
			<input type="password"{if !$user_id} required{/if} name="passwd" class="form-control" id="passwd" placeholder="{if $user_id}At least 8 characters, fill only when you want to change it{else}Password, at least 8 characters{/if}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="repasswd">Repeat password{if !$user_id} *{/if}</label>
		<div class="col-sm-10">
			<input type="password"{if !$user_id} required{/if} name="repasswd" class="form-control" id="repasswd" placeholder="{if $user_id}At least 8 characters, fill only when you want to change it{else}Password, at least 8 characters{/if}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="fname">First name <span class="required-star"></span></label>
		<div class="col-sm-10">
			<input type="text" required name="fname" class="form-control" id="fname" placeholder="First name" value="{$data.fname}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="lname">Last name <span class="required-star"></span></label>
		<div class="col-sm-10">
			<input type="text" required name="lname" class="form-control" id="lname" placeholder="Last name" value="{$data.lname}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="email">E-mail</label>
		<div class="col-sm-10">
			<input type="text" name="email" class="form-control" id="email" placeholder="E-mail" value="{$data.email}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="phone">Phone</label>
		<div class="col-sm-10">
			<input type="text" name="phone" class="form-control" id="phone" placeholder="Phone" value="{$data.phone}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="status">Status</label>
		<div class="col-sm-10">
			<select name="status" id="status" class="form-control">
{if $data.user_id != $USER_ID}
				<option value="N"{if $data.status == 'N'} selected="selected"{/if}>Inactive</option>
{/if}
				<option value="Y"{if $data.status == 'Y'} selected="selected"{/if}>Active</option>
				<option value="Y"{if $data.status == 'W'} selected="selected"{/if}>Waiting approval</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" name="save" class="btn btn-primary">Save and back</button>
			<a href="{$ROOT}admin/administrator" class="btn btn-default">Back without save</a>
		</div>
	</div>
</form>
