<h1>Daily data ({$count})</h1>
<p>
	<a href="{$ROOT}admin/form3-detail" class="btn btn-primary">New record</a>
	<a href="{$ROOT}admin/form3?export" class="btn btn-default">Export to excel</a>
	<a href="{$ROOT}admin/form3-import" class="btn btn-default">Import from excel</a>
	{if $filter}
	<a href="?nofilter" class="btn btn-danger">Cancel filter</a>
	{/if}
</p>
{include file="pager.html"}
<form method="post" action="">
	<table class="table table-bordered table-hover table-striped">
		<thead>
		<tr>
			<th>Date</th>
			<th>Game</th>
			<th>Shop</th>
			<th>Division</th>
			<th>Machines</th>
			<th>Tickets</th>
			<th>Pay in</th>
			<th>Pay out</th>
			<th>Inserted</th>
			<th>Action</th>
		</tr>
		<tr class="filter">
			<th>
				<input type="hidden" name="filter" value="1">
				<input type="text" class="half datepicker-nofuture" placeholder="from" name="date_from" value="{$filter.date_from}">
				<input type="text" class="half datepicker-nofuture" placeholder="to" name="date_to" value="{$filter.date_to}">
			</th>
			<th>
				<select name="game">
					<option value="0">All</option>
					{foreach from=$TEXT.game item=v key=k}
					<option value="{$k}"{if $filter.game == $k} selected="selected"{/if}>{$v}</option>
					{/foreach}
				</select>
			</th>
			<th>
				<select name="shop">
					<option value="0">All</option>
					{foreach from=$branches item=v key=k}
					<option value="{$k}"{if $filter.shop == $k} selected="selected"{/if}>{$v->name}</option>
					{/foreach}
				</select>
			</th>
			<th></th>
			<th></th>
			<th><input type="text" placeholder="search" name="tickets" value="{$filter.tickets}"></th>
			<th><input type="text" placeholder="search" name="payin" value="{$filter.payin}"></th>
			<th><input type="text" placeholder="search" name="payout" value="{$filter.payout}"></th>
			<th>
				<input type="text" class="half datepicker-nofuture" placeholder="from" name="inserted_from" value="{$filter.inserted_from}">
				<input type="text" class="half datepicker-nofuture" placeholder="to" name="inserted_to" value="{$filter.inserted_to}">
			</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{foreach from=$items item=row}
		<tr>
			<td>{$row.date|date_format:"%d.%m.%Y"}</td>
			<td>{$TEXT.game[$row.game]}</td>
			<td>{$row.branch}</td>
			<td>{$TEXT.division[$row.division]}</td>
			<td>{if $row.game == 6}{$row.machines}{else}-{/if}</td>
			<td>{$row.tickets}</td>
			<td>{$row.payin}</td>
			<td>{$row.payout}</td>
			<td>{$row.inserted|date_format:"%d.%m.%Y %H:%M:%S"}</td>
			<td>
				<a href="{$ROOT}admin/form3-detail?id={$row.id}" class="btn btn-primary btn-xs">Edit</a>
			</td>
		</tr>
		{/foreach}
		</tbody>
	</table>
</form>
{include file="pager.html"}
